


/*---------
Sec3
-----------*/

.sec3 {
    padding: 100px 32px;
}

.sec3__title {
    margin-bottom: 28px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    /*justify-content:  space-between; */
}

.card {
    border-radius:  16px;
    border: 1px solid lightgray;
    width: calc(33% - 16px);
    margin: 14px 8px;
}

.card__image {
    border-radius: 16px 16px 0 0;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.card__content {
    padding: 14px 16px;
}

.card__explain{
    line-height: 1.7;
}