/* 各ページごとのCSS要素を書きます */

.sec1 {
    padding: 100px 5%;
    display: flex;
    justify-content: space-around;
}

.sec1__title {
    position: relative;
    top: 180px;
    height: fit-content;
    border-bottom: 4px solid #FCD8DA;
}

.sec2 {
    padding: 120px 0;

}

.feature {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature__image {
    text-align: center;
}

.feature__element {
    max-width: 300px;
    margin: 32px 8px;
}

.feature__title {
    margin: 32px 0 12px 0;
    text-align: center;
}

.sec3 {
    padding: 120px 0;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(33% - 16px);
    margin: 14px 8px;
    border: 1px solid #9F9F9F;
    border-radius: 16px;
}

.card__title {
    margin-bottom: 14px;
}

.card__content {
    padding: 14px 16px;
}

.card__image {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 16px 16px 0 0;
    object-fit: cover;
}